body{
    background-color: aliceblue;
}
.head{
    position: absolute;
    left:0%;
    right: 0%;
    top: 0%;
    border: 1px black solid;
    text-align: right;
    background-color: lightgray;
}
.textarea{
    left: 1%;
    right: 1%;
}
.submit{
   align-items: right;
}